<footer class="footer bg-dark py-3 mt-auto">
	<section class="container d-flex justify-content-center">
		<span id="easter" class="text-muted">Cute Spot * hisam</span>
	</section>
</footer>

<script src="/js/events.js"></script>