<article class='row justify-content-center'>
    <div class='col-10 col-md-8'>
        
        <article class='card mb-3 cookie__container'>
            <img class="card-img-top cookie_image" src="../images/cowboy-cookie.jpg" alt="cookies" >
            <div class='card-body'>
                <h4 class='card-title mt-3 mb-1'>Cowboy Cookies</h4>
                <p class='card-subtitle text-muted'>With cranberries, white chocolate, and pecans</p>
            </div>
            <div class='card-footer d-flex justify-content-evenly flex-wrap'><span class="mx-1" >♡ <b>Makes: </b>36 medium sized cookies</span><span class="mx-1" ><b>Prep time: </b>90 mins</span><span class="mx-1" ><b>Cook time: </b>10 - 15 mins </span></div>
            <div class="card-header">
                INGREDIENTS:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">3 cups all-purpose flour</li>
                <li class="list-group-item">1 tablespoon baking powder</li>
                <li class="list-group-item">1 tablespoon baking soda</li>
                <li class="list-group-item">1 tablespoon ground cinnamon</li>
                <li class="list-group-item">1 teaspoon salt</li>
                <li class="list-group-item">1 ½ cups (3 sticks) butter, <strong>at room temperature</strong></li>
                <li class="list-group-item">1 cup granulated sugar</li>
                <li class="list-group-item">2 cups packed light-brown sugar</li>
                <li class="list-group-item">3 eggs, <strong>at room temperature</strong></li>
                <li class="list-group-item">1 tablespoon <strong>real</strong> vanilla extract</li>
                <li class="list-group-item">3 cups white chocolate chunks</li>
                <li class="list-group-item">1 cup granulated sugar</li>
                <li class="list-group-item">3 cups old-fashioned rolled oats</li>
                <li class="list-group-item">2 cups unsweetened coconut flakes</li>
                <li class="list-group-item">2 cups chopped pecans</li>
                <li class="list-group-item">1 cup dried cranberries</li>
            </ul>
            <div class="card-header">
                INSTRUCTIONS:
            </div>
            <Ol class="list-group list-group-numbered list-group-flush">
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 1</b></div>
                    Mix flour, baking powder, baking soda, cinnamon and salt in medium bowl. Do not forget the salt. Set aside.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 2</b></div>
                    In a very large bowl (or stand mixer), beat the butter with an electric mixer at medium speed until fluffy. Beat in the sugar, and and vanilla.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 3</b></div>
                    Lower the mixer speed and add the eggs in, beat them until they're just barely combined. If you over mix the texture of your cookie will suck.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 4</b></div>
                    Stir in flour mixture but only until it's just barely combined. You should still have streaks of flour.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 5</b></div>
                    Add the mix-ins (chocolate, oats, coconut, cranberries, pecans but feel free to experiment!), then stir until everything comes together.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 6</b></div>
                    Refrigerate the dough for at least 1 hour.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 7</b></div>
                    After the dough has cooled for an hour, preheat the oven to 175 degrees. For each cookie, drop 1/4 cup dough onto papered baking sheets. Spacing them 2 - 3 fingers apart (depending on the fatness of yr fingers).
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 8</b></div>
                    Bake for 10 to 15 minutes, until edges are lightly browned; after 6 minutes, take the cookies out of the oven, hold the pan about 40cms above the floor, and drop the pan. Don't wake the baby. Put the pan back in the over until the cookies are golden brown. When you take the cookies out of the oven, leave them on the pan for 4 minutes, then transfer them to a wire rack so that the bottoms don't go soggy.
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><b>Step 9 (most important)</b></div>
                    Eat 6 cookies. Bring the rest to people you like.
                    </div>
                </li>
            </Ol>
        </article>
        