<section class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img
				src="../images/timothy-barlin-GX4YM64o49U-unsplash.jpg"
				class="d-block mx-lg-auto img-fluid"
				alt="A cute spot cafe"
				loading="lazy"
				width="700"
				height="500"
			/>
		</div>
		<section class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">This is cute spot</h1>
			<p class="lead mr-4">Cute places to go when you need a high chair as much
				as you need a coffee.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a
					href="/spots"
					type="button"
					class="btn btn_purple btn-lg px-4 me-md-2 mr-3"
				>See spots</a>
				<a
					href="/signup"
					type="button"
					class="btn btn-outline-secondary btn-lg px-4 ml-3"
				>Sign Up</a>
			</div>
		</section>
	</div>
</section>