<article class="row">
	<h1 class="text-center">Edit Review</h1>
	<section class="col-6 offset-3">
		<form
			action="/spots/{{slug}}/{{spotId}}/reviews/{{review._id}}/edit?_method=PUT"
			method="POST"
			novalidate
			class="validated_form"
		>
			<fieldset class="starability-heart mb-3">
				<legend>First rating:</legend>
				<input
					type="radio"
					id="no-rate"
					class="input-no-rate"
					name="review[rating]"
					{{#ifEquals review.rating 0}} checked=true {{/ifEquals}} 
					value="0"
					aria-label="No review."
				/>
				<input type="radio" id="first-rate1" name="review[rating]" {{#ifEquals review.rating 1}} checked=true {{/ifEquals}} value="1" />
				<label for="first-rate1" title="Terrible">1 star</label>
				<input type="radio" id="first-rate2" name="review[rating]" {{#ifEquals review.rating 2}} checked=true {{/ifEquals}} value="2" />
				<label for="first-rate2" title="Not good">2 stars</label>
				<input type="radio" id="first-rate3" name="review[rating]" {{#ifEquals review.rating 3}} checked=true {{/ifEquals}} value="3" />
				<label for="first-rate3" title="Average">3 stars</label>
				<input type="radio" id="first-rate4" name="review[rating]" {{#ifEquals review.rating 4}} checked=true {{/ifEquals}} value="4" />
				<label for="first-rate4" title="Very good">4 stars</label>
				<input type="radio" id="first-rate5" name="review[rating]" {{#ifEquals review.rating 5}} checked=true {{/ifEquals}} value="5" />
				<label for="first-rate5" title="Amazing">5 stars</label>
			</fieldset>
			<section class="mb-3">
				<label class="form-label" for="body">Notes</label>
				<textarea
					class="form-control"
					name="review[body]"
					id="body"
					cols="30"
					rows="2"
					required
				>{{review.body}}</textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a review.
				</div>
			</section>
			<div>
				<button class="btn btn-info">Submit</button>
			</div>
		</form>
	</section>
</article>