<article class="row justify-content-center">
	<h1 class="text-center">Log in</h1>
	<section class="col-10 col-md-6">
		<form action="/login" method="POST" novalidate class="validated_form">
			<section class="mb-3">
				<label class="form-label" for="username">User name</label>
				{{! [this groups all data inside under spot] }}
				<input
					aria-label="user name"
					class="form-control"
					type="text"
					id="username"
					name="username"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please provide a username.
				</div>
			</section>
			<section class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input
					aria-label="password"
					class="form-control"
					type="password"
					id="password"
					name="password"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a password.
				</div>
			</section>
			<section
				aria-label="log in"
				class="d-flex flex-wrap justify-content-between mb-3"
			>
				<button type="submit" class="btn btn_purple px-4 mt-2">Log in</button>
				<div aria-label="sign up" class="text-muted mt-2">
					<span class="d-inline-block mt-2 mx-2">Don't have an account?</span>
					<a href="/signup" class="btn btn-outline-secondary ml-2">Sign Up</a>
				</div>
			</section>
		</form>
	</section>
</article>