<article class="row">
	<h1 class="text-center">Log in</h1>
	<section class="col-6 offset-3">
		<form action="/login" method="POST" novalidate class="validated_form">
			<section class="mb-3">
				<label class="form-label" for="username">User name</label>
				{{! [this groups all data inside under spot] }}
				<input
					aria-label="user name"
					class="form-control"
					type="text"
					id="username"
					name="username"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please provide a username.
				</div>
			</section>
			<section class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input
					aria-label="password"
					class="form-control"
					type="password"
					id="password"
					name="password"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a password.
				</div>
			</section>
			<section aria-label="log in" class="d-flex justify-content-between mb-3">
				<button class="btn btn_purple px-4">Log in</button>
				<div aria-label="sign up" class="text-muted">
					Don't have an account?
					<a
						href="/signup"
						type="button"
						class="btn btn-outline-secondary ml-2"
					>Sign Up</a>
				</div>
			</section>
		</form>
	</section>
</article>