<article class="row">
	<h1 class="text-center">Yay, signup!</h1>
	<div class="col-6 offset-3">
		<form action="/signup" method="POST" novalidate class="validated_form">
			<section class="mb-3">
				<label aria-label="user name" class="form-label" for="username">User
					name</label>
				{{! [this groups all data inside under spot] }}
				<input
					class="form-control"
					type="text"
					id="username"
					name="username"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please provide a username.
				</div>
			</section>
			<section class="mb-3">
				<label
					aria-label="location"
					class="form-label"
					for="location"
				>Email</label>
				<input
					class="form-control"
					type="email"
					id="location"
					name="email"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please provide a valid email.
				</div>
			</section>
			<section class="mb-3">
				<label
					aria-label="password"
					class="form-label"
					for="password"
				>Password</label>
				<p><small>6 - 12 characters, one number, one symbol, one uppercase and
						one lowercase letter.</small></p>
				<input
					class="form-control"
					title="Must be 6 - 12 characters and contain at least one number, one symbol, one uppercase and one lowercase letter."
					type="password"
					id="password"
					name="password"
					required
					pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,12}$"
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Password must be 6 - 12 characters, contain at least one number, one
					symbol, one uppercase and one lowercase letter.
				</div>
			</section>
			<section class="mb-3 d-flex justify-content-between">
				<button aria-label="sing up" class="btn btn_purple">Sign Up</button>
				<a
					aria-label="view all spots"
					class="generic_link"
					href="/spots"
				><strong>ꙮ</strong> All Spots</a>
			</section>
		</form>
	</div>
</article>