    <h1>All Spots</h1>
        {{#each spots}}
        <div class="card" mb-3>
            <div class="row">
                {{!-- <div class="col-md-4">
                    <img src="{{ image }}" alt="" class="img-fluid">
                </div> --}}
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ description }}</p>
                        <p class="card-text"><small class="text-muted">{{ location }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    
