
<div class='row'>
    <h1 class='text-center'>New Spot</h1>
    <div class='col-6 offset-3'>
        {{!-- trying out bootstrap for validation, use color and words to validate because accessibility --}}
        {{!-- with dynamic routing don't use the / or you either get localhost3000/new or with spots/new you get spots/spots/new oof! --}}
        <form action='/spots' method='POST' novalidate class='validated_form'>
            <fieldset>
                <div class='mb-3'>
                    <label class='form-label' for='name'>Name</label>
                    {{! [this groups all data inside under spot] }}
                    <input class='form-control' type='text' id='name' name='spot[name]' required>
                    <div class='valid-feedback'>
                    Looks good!
                    </div>
                    <div class='invalid-feedback'>
                    Please name your spot.
                    </div>
                </div>
                <div class='mb-3'>
                    <label class='form-label' for='location'>Location</label>
                    <input class='form-control' type='text' id='location' name='spot[location]' required>
                    <div class='valid-feedback'>
                    Looks good!
                    </div>
                    <div class='invalid-feedback'>
                    Please add a location.
                    </div>               
                </div>
                <div class='mb-3'>
                    <label class='form-label' for='image'>Image</label>
                    <input class='form-control' type='text' id='image' name='spot[image]' required>
                    <div class='valid-feedback'>
                    Looks good!
                    </div>
                    <div class='invalid-feedback'>
                    Please add an image.
                    </div> 
                </div>
                <div class='mb-3'>
                    <label class='form-label' for='description'>Description</label>
                    <textarea class='form-control' type='text' id='description' name='spot[description]' required></textarea>
                    <div class='valid-feedback'>
                    Looks good!
                    </div>
                    <div class='invalid-feedback'>
                    Please give a description.
                    </div>
                </div>
                <div class='mb-3'>
                    <button class='btn btn-info'>Add Spot</button>
                    <a class='btn btn-outline-secondary' href='/spots'>All Spots</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>


