<article class="row justify-content-center">
	<h1 class="text-center">New Spot</h1>
	<div class="col-10 col-md-6">
		{{! trying out bootstrap for validation, use color and words to validate because accessibility }}
		{{! with dynamic routing don't use the / or you either get localhost3000/new or with spots/new you get spots/spots/new oof! }}
		<form
			action="/spots"
			method="POST"
			novalidate
			class="validated_form"
			enctype="multipart/form-data"
		>
			<section class="mb-3">
				<label class="form-label" for="name">Name</label>
				{{! [this groups all data inside under spot] }}
				<input
					class="form-control"
					type="text"
					id="name"
					name="spot[name]"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please name your spot.
				</div>
			</section>
			<article>
				<h5 class="card-title">How kid friendly is this spot?</h5>
				<section class="card-body">
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasChangeTable"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasChangeTable"
							name="spot[hasChangeTable]"
							value="No"
						/>
						<label class="form-check-label" for="hasChangeTable">Change Table</label>
					</section>
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasPublicToilet"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasPublicToilet"
							name="spot[hasPublicToilet]"
							value="No"
						/>
						<label class="form-check-label" for="hasPublicToilet">Public Toilet</label>
					</section>
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasHighChairs"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasHighChairs"
							name="spot[hasHighChairs]"
							value="No"
						/>
						<label class="form-check-label" for="hasHighChairs">High Chairs</label>
					</section>
				</section>
				<section class="card-body">
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasKidsMenu"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasKidsMenu"
							name="spot[hasKidsMenu]"
							value="No"
						/>
						<label class="form-check-label" for="hasKidsMenu">Kids Menu</label>
					</section>
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasBabyccinos"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasBabyccinos"
							name="spot[hasBabyccinos]"
							value="No"
						/>
						<label
							class="form-check-label"
							for="hasBabyccinos"
						>Babyccinos</label>
					</section>
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasToys"
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasToys"
							name="spot[hasToys]"
							value="No"
						/>
						<label class="form-check-label" for="hasToys">Toys</label>
					</section>
				</section>
			</article>
			<section class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="spot[location]"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a location.
				</div>
			</section>
			<section class="mb-3">

				<label for="image" class="form-label">Select images</label>
				<input
					class="form-control"
					type="file"
					id="image"
					name="image"
					multiple
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add an image.
				</div>
			</section>
			<section class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="spot[description]"
					required
				></textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please give a description.
				</div>
			</section>
			<div class="mb-3 d-flex justify-content-between">
				<button class="btn btn_purple">Add Spot</button>
				<a class="generic_link" href="/spots"><strong>ꙮ</strong> All Spots</a>
			</div>
		</form>
	</div>
</article>
<script src="/js/events.js"></script>