<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ spot.name }}</h5>
                <p class="card-text">{{ spot.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">{{ spot.location }}</li>
            </ul>
            <div class="card-body">
                <a href="/spots/{{ spot._id }}/edit" class="card-link btn btn-info ">Edit</a>
                <a href="/spots" class="card-link btn btn-info ">All Spots</a>
            </div>
            <div class="card-footer text-muted">
                display last edited
            </div>
        </div>
    </div>
</div>
    
    